.compra{
    position: relative;
}

.card {
    height: 30px;
    width: 100px;
    margin-left: 10px;
    margin-right: 55px;
    background-color: #FF9090 !important;
    border: none !important;
}

.contador{
    height: 17px;
    width: 17px;
    background-color: rgb(255, 85, 85);
    position: absolute;
    border-radius: 50px;
    font-size: 10px;
    left:84px;
    bottom: 24px;
    text-align: center;
}