.form_hq{
    display: flex;
    flex-direction: column;
    background-color: #F0F0F0;
    width: 500px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
}

.hq_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.form_hq h1{
    font-weight:700;
    text-align: center;
    margin: 15px 0;
    padding: 0;
}

.form_hq label{
   margin-left: 49px;
}

.form_hq input{
    width:  400px;
    padding: 7px 7px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #757575;
    margin-left: auto;
    margin-right: auto;
}

.form_hq textarea{
    width:  400px;
    min-height: 150px;
    max-height: 150px;
    padding: 7px 7px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #757575;
    margin-left: auto;
    margin-right: auto;
}

input[name="imagem"]{
    background-color: #FFF;
}

.botao_cadastro{
    background-color: #EB2525;
    color: white;
    border: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px !important;
    font-weight: bolder;
    font-size: 19px;
    width: 140px !important; 
}

.arrow_left_produto{
    position:absolute;
    left: 27px;
    margin-top: 15px;
    width: 30px;
    height: 30px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
