.item-carrinho{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid rgba(0, 0, 0, 0.555);
}

.iteem{
  margin-bottom: 200px;
}

.item-n-p{
  margin-right: auto;
  margin-left: 10px;
}

.item-imagem{
  width: 100px;
  height: 100px;
  margin-right: 15px;
  margin-left: 35px;
  background-color: #212121;
  border-radius: 5px;
  color: #f0f0f0;
}

.item-nome{
  font-size: 25px;
  font-weight: 550;
}

.item-add-quantidade{
  margin-right: 40px;
}

.item-quantidade{
  font-size: 19px;
  font-weight: 500;
  margin-left: 3px;
}

.item-valor{
  font-size:30px;
  font-weight: 500;
  margin-left:70px;
  margin-right: 100px; 
  width: 50px;
}

.valor_total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EF2121;
  height: 80px;
  color:#FFF;
}

.valor_total p{
  margin: 0 20px; 
  font-size: 20px;
}

.buy_now{
  height: 80px;
  background-color: #F16363;
  justify-content: end;
  align-items: center;
  display: flex;

}

.button_buy_now{
  background-color: #C90000;
  color: #FFF;
  height: 40px;
  width: 200px;
  border: none;
  border-radius:5px;
  margin-right: 20px;
}

.itenzinho{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 600px;
  max-height: auto;
}

.carrinho_vazio{
  height: 300px;
  width: 800px;
  background-color: #dd0000bb;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: auto;
}

.carrinho_vazio h3{
  font-size: 20px;
}