.usuario{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px ;
}

.entrar{
    height: 30px;
    width: 100px;
}

.cadastrar{
    height: 30px;
    width: 100px;
}


