.pagamento_form{
    width: 100%;
    display: flex;
    justify-content: center;
   
}

.form_pagamento{
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    width: 600px;
    height: 100%;
    margin-bottom: 50px;
    border: 1px solid rgba(88, 88, 88, 0.63);
    border-radius: 0 0 5px 5px;
}

.form_pagamento h1{
   margin-top: 20px;
   margin-left: auto;
   margin-right:auto ;
   padding: 0;
}

.form_pagamento input[type="text"]{
    margin-bottom: 15px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid rgba(0, 0, 0, 0.589);
}

.form_pagamento input[type="email"]{
    margin-bottom: 15px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.589);
    padding: 3px;
}

.form_pagamento input[type="password"]{
    margin-bottom: 15px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.589);
    padding: 3px;
}

.form_pagamento input[type="number"]{
    margin-bottom: 15px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.589);
    padding: 3px;
}

.pag{
    margin-top: 10px;
    margin-left: 45px;
}

.form_pagamento p{
    margin-left: 45px;
}

.met_pag{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-left: 45px;
}

.PIX input{
    margin-right: 5px;
}

.CARTAO input{
    margin-right: 5px;
}

.BOLETO input{
    margin-right: 5px;
}

.botao_pagamento{
    background-color: #EB2525;
    color: white;
    border: none;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 5px !important;
    font-weight: 500;
    font-size: 15px;
    width: 200px !important;
    height: 35px;
}

.arrow-left{
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top:10px;
    margin-left: 20px;
}