.card_pergunta{
    background-color: #F0F0F0;
    width: 1200px;
    height: 400px;
    margin-top: 90px;
    margin-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
}

.card_pergunta h1{
    padding: 20px 0 0 0;
    font-weight: bold;
}

.resposta{
    display: flex;
    margin-bottom: 20px;
}

.resposta h2{
    margin-left: 10px;
}

.respostas{
    display: flex;
    width: 1200px;
    justify-content: space-between;
    margin-top: 130px;
}

.op_usua{
    margin-right: 100px;
}

.op_vend{
    margin-left: 100px;
}

.op_usua a{
    text-decoration: none;
    color: #FFF;
    background-color: #EB2525;
    padding: 10px 20px;
    border-radius: 8px;
}

.op_vend a{
    text-decoration: none;
    color: #FFF;
    background-color: #EB2525;
    padding: 10px 20px;
    border-radius: 8px;
}

.arrow_left2{
    width: 30px;
    height: 30px;
    position: absolute;
}