.pesquisa{
    display: flex;
}

.lupa{
    width: 30px;
    height: 30px;
    border: none;
}

.button{
    width: 30px;
    height: 30px;
    background: none;
    border: none;
}

.campo{
    margin: 0 30px 0 10px;
    width: 270px;
    height: 30px;
    background-color: white;
    text-align: center;
    border-radius:6px ;
    border: solid 0.5px rgb(145, 145, 145);
    padding: 0;
}
